/* 

*/

* {
  margin: 0;
  padding: 0;
 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}
.r-btn {
  padding: 5px 20px;
  background: #ee8683 !important;
  color: #fff !important;
  margin-bottom: 5px;
}
.bg-sec {
  background-color: #f8f9fa;
}
.card {
  margin-bottom: 15px;
}
/* Preloader effect */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99998;
}
.preloader:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: black;
  transition: 1s;
}

.preloader::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: black;
  transition: 1s;
}

.preloader.complete::before {
  bottom: -50%;
}

.preloader.complete::after {
  top: -50%;
}

.preloader.complete {
  visibility: hidden;
}
.circle {
  position: absolute;
  top: 50%;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ee8683;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  Navigation */
nav .r-nav {
  background: transparent;
  padding: 10px 0;
  transition: 0.5s all;
}

nav .navbar-brand {
  font-size: 30px;
  color: #fff;
}

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

nav .navbar li {
  margin-left: 15px;
}

nav.r-nav.stickyadd {
  background: white !important;
  /* padding:15px 0; */
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.8s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: black;
  font-size: 30px;
  transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: black !important;
}

.navbar .hamburger {
  color: white;
}

nav.stickyadd .hamburger {
  color: black;
}

/*  Header Section*/

header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box {
  max-width: 700px;
  color: white;
}
.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}

.content-box a {
  color: white;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}

.content-box a:hover {
  color: #000;
  background-color: #fff;
  transition: 0.5s all;
}

.content-box p {
  color: white;
}

/* about section */

.about li a {
  color: black;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: #ee8683;
}
.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}
.r-r {
  padding-bottom: 40px;
}
.r-s {
  padding-top: 80px;
  padding-bottom: 80px;
}
.r-q {
  padding-top: 80px;
}

/*  Experience section*/

.exp-class .progress {
  height: 15px;
  border-radius: 10px;
  font-size: 10px;
}

.progress-bar {
  background-color: #ee8683 !important;
}
.exp-class label {
  font-size: 20px;
  margin: 10px;
}

/* Service section */

.card,
.card-header {
  background-color: #f8f9fa !important;
}

.card-header {
  border: none !important;
}

.services-class .card-header i {
  font-size: 50px;
}

.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #e65f78;
}

/*  testimony classes*/

.testimony-class .text-item {
  max-width: 500px;
  margin: 50px auto;
}

.testimony-class .test-item .test-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimony-class .test-item {
  color: grey;
}

.test-item p.test-name {
  font-size: 11px;
}

/*work */
.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*  contact-us*/

.contact .r-icon {
  font-size: 50px;
  text-align: center;
}

/* footer section*/
footer {
  height: 140px;
  background-color: #000;
}
footer .r-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}

footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}

.img-area {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.img-area img {
  width: 100%;
}
.content {
  text-align: center;
  padding: 40px;
  color: #fff;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.08);
}
.content h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.content p {
  line-height: 1.9;
}

.socials {
  margin-top: 30px;
}
.socials i {
  font-size: 20px;
  margin: 0 10px;
}
.owl-dots {
  text-align: center;
}
.owl-dot {
  display: inline-block;
  height: 20px !important;
  width: 20px !important;
  background-color: #ddd !important;
  opacity: 0.8;
  margin: 0 10px;
  border-radius: 50%;
}

.owl-dot.active {
  background-color: #fff !important;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37b3ed;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
.resume p{
  font-size: 17px;
}